body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.division {  grid-area: _division;  }
.product  {  grid-area: _product;   }
.result   {  grid-area: _result;    }
.minus    {  grid-area: _minus;     }
.seven    {  grid-area: _seven;     }
.eight    {  grid-area: _eight;     }
.three    {  grid-area: _three;     }
.point    {  grid-area: _point;     }
.plus     {  grid-area: _plus;      }
.zero     {  grid-area: _zero;      }
.nine     {  grid-area: _nine;      }
.four     {  grid-area: _four;      }
.five     {  grid-area: _five;      }
.six      {  grid-area: _six;       }
.two      {  grid-area: _two;       } 
.one      {  grid-area: _one;       }
.ac       {  grid-area: _ac;        }
