body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #bdbdbd;
}

#divide {  grid-area: _divide;  }
#multiply  {  grid-area: _multiply;   }
#equals   {  grid-area: _equals;    }
#subtract    {  grid-area: _subtract;     }
#seven    {  grid-area: _seven;     }
#eight    {  grid-area: _eight;     }
#three    {  grid-area: _three;     }
#decimal    {  grid-area: _decimal;     }
#add     {  grid-area: _add;      }
#zero     {  grid-area: _zero;      }
#nine     {  grid-area: _nine;      }
#four     {  grid-area: _four;      }
#five     {  grid-area: _five;      }
#six      {  grid-area: _six;       }
#two      {  grid-area: _two;       } 
#one      {  grid-area: _one;       }
#clear       {  grid-area: _clear;        }
